.ul-barrablu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.li-barrablu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.icon {
    width: 20%;
    margin-right: 15px;
}

.icon-locator {
    width: 12%;
    margin-right: 15px;
}

.icon-visa {
    width: 60px;
    margin-right: 15px;
}