.main-active {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

.product {
    display: flex;
    flex-basis: calc(100% / 6);
}

.img {
    width: 100%;
}

.titolo {
    font-size: 12px;
}