.all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #303030;
    color: white;
}

.flex-due {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ul-footer-due {
    list-style-type: none;
    display: flex;
}

.li-footer-due {
    width: 6%;
    margin-right: 10px;
}

.flex-li {
    display: flex;
    align-items: center;
}

.font-size {
    font-size: 10px;
}

.followus {
    width: 40%;
    margin-left: 45%;
}

.button-1 {
    border: 1px solid #0282f9;
    width: 14%;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}